.venv
node_modules
**/node_modules
dist
build
mongo_data
mosquitto_data
mosquitto_log
*.pt
__pycache__
*.pyc
.git
.gitignore
.DS_Store
analyzes
dataset
models
.ipynb_checkpoints
train_lstm
train_seq_soc